<header class="border-bottom pt-3 pb-3">
    <div class="container d-flex flex-wrap align-items-center justify-content-between">
        <div class="col-12 col-md-auto text-center text-md-left">
            <h4 class="m-0">Printout</h4>
        </div>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a class="nav-link px-2<% if (page == 'home') { %> link-secondary <% } %>" href="/">Home</a></li>
            <li><a class="nav-link px-2<% if (page == 'feed') { %> link-secondary <% } %>" href="/feed">Feed</a></li>
            <li><a class="nav-link px-2<% if (page == 'posts') { %> link-secondary <% } %>" href="/posts">Posts</a></li>
            <li><a class="nav-link px-2<% if (page == 'new') { %> link-secondary <% } %>" href="/new">New</a></li>
            <li><a class="nav-link px-2" id="logout" href="#">Logout</a></li>
        </ul>
    </div>
</header>