<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Printout</title>
        <%- include("components/head") %>
        <style>
            /* .container {
                max-width: 600px;
            } */

            #metadata-button.collapsed .hide {
                display: none;
            }
            #metadata-button:not(.collapsed) .show {
                display: none;
            }
        </style>
    </head>
    <body>
        <%- include("components/header", { page: page }) %>

        <div class="container">
            <div class="row">
                <h4 class="my-4">New post</h4>
                <form class="needs-validation" id="new-post-form" novalidate>
                    <div class="row g-3">

                        <!-- Title -->
                        <div class="col-12">
                            <label class="form-label" for="title">Title</label>
                            <input id="title" class="form-control" type="text" required>
                            <div class="invalid-feedback">
                                A post title is required.
                            </div>
                        </div>

                        <!-- ID -->
                        <div class="col-12">
                            <label class="form-label" for="id">ID</label>
                            <input id="id" class="form-control" type="text" required>
                            <div class="invalid-feedback">
                                Post with ID already exists.
                            </div>
                        </div>

                        <!-- Body -->
                        <div class="col-12">
                            <label class="form-label" for="body">Body <i>(Markdown)</i></label>
                            <textarea id="body" class="form-control" rows="10" required></textarea>
                            <div class="invalid-feedback">
                                Post requires a body.
                            </div>
                        </div>

                        <hr class="my-4">

                        <div class="m-0 w-100 d-flex align-items-center">
                                <h4 class="m-0 me-auto">Metadata</h4>
                                <button id="metadata-button" class="btn btn-primary collapsed" data-bs-toggle="collapse" data-bs-target="#metadata" type="button">
                                    <span class="show">Show</span>
                                    <span class="hide">Hide</span>
                                </button>
                        </div>

                        <div class="collapse" id="metadata">
                            <div class="col-12">
                                <label class="form-label" for="date-published">Date published</label>
                                <input type="datetime-local" class="form-control" id="date-published">
                            </div>

                            <!-- Summary -->
                            <div class="col-12">
                                <label class="form-label" for="body">Summary</label>
                                <textarea id="summary" class="form-control"></textarea>
                            </div>

                            <!-- Author -->
                            <div class="col-12">
                                <label class="form-label" for="title">Author</label>
                                <input id="author" class="form-control" type="text">
                            </div>
                        </div>

                        <hr class="my-4">

                        <!-- Submit Button -->
                        <div class="col-12">
                            <button id="publish" class="btn btn-primary btn-1g" type="submit">
                                <span id="publish-spinner" style="display: none" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Publish post
                            </button>
                            <div id="publish-invalid" class="invalid-feedback">
                                An unknown error occurred.
                            </div>
                        </div>
                    </div>

                    <!-- <hr class="my-4"> -->
                    <!-- <div class="col-2"> -->
                        
                    <!-- </div> -->
                </form>
            </div>
        </div>
        <%- include("components/body-footer") %>
        <script>
            var form = document.getElementById("new-post-form")

            var datePublishedInput = document.getElementById("date-published")
            function getPostDatePublished() {
                var dateString = datePublishedInput.value
                if (dateString && dateString.length > 0) {
                    var date = new Date(dateString)
                    return date || new Date()
                } else {
                    return new Date()
                }
            }

            function idFromTitle(title, date) {
                const titleId = title
                    .trim()
                    .toLowerCase()
                    .replace(/[\s_]/g, "-")
                    .replace(/[^0-9a-z-]/g, "")
                var day = ("0" + date.getDate()).slice(-2)
                var month = ("0" + (date.getMonth()+1)).slice(-2)
                return `${date.getFullYear()}-${month}-${day}-${titleId}`
            }

            var idInput = document.getElementById("id")

            var shouldUpdateIdInput = true
            idInput.addEventListener("input", function(e) {
                shouldUpdateIdInput = idInput.value == ""
            })

            var titleInput = document.getElementById("title")

            function updateIdInput() {
                var newTitle = titleInput.value
                if (newTitle.length <= 0) {
                    idInput.value = ""
                    return
                }

                var datePublished = getPostDatePublished()
                var postId = idFromTitle(titleInput.value, datePublished)
                idInput.value = postId
            }
            
            titleInput.addEventListener("input", function(e) {
                if (!shouldUpdateIdInput) {
                    return
                }
                updateIdInput()
            })

            datePublishedInput.addEventListener("input", function(e) {
                if (!shouldUpdateIdInput) {
                    return
                }
                if (!(new Date(e.target.value))) {
                    return
                }
                updateIdInput()
            })

            var bodyTextArea = document.getElementById("body")
            var authorNameInput = document.getElementById("author")
            var summaryInput = document.getElementById("summary")
            var spinner = document.getElementById("publish-spinner")
            var publishButton = document.getElementById("publish")
            var publishInvalidLabel = document.getElementById("publish-invalid")

            function updateSpinner(status) {
                spinner.style.display = status ? "" : "none"
                spinner.disabled = status
            }

            function error(msg) {
                publishInvalidLabel.innerText = msg
                publishButton.classList.add("is-invalid")
            }

            async function submitNewPost() {
                var body = {
                    title: titleInput.value,
                    id: idInput.value,
                    body: bodyTextArea.value,
                    body_type: "markdown"
                }
                if (authorNameInput.value.length > 0) {
                    body.author_name = authorNameInput.value
                }
                if (summaryInput.value.length > 0) {
                    body.summary = summaryInput.value
                }

                var token = localStorage.getItem("token")
                
                var response = await fetch("/api/post", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "Authorization": `Bearer ${token}`
                    },
                    body: JSON.stringify(body)
                })
                var json = await response.json()
                return json
            }

            form.addEventListener('submit', async function (event) {
                publishButton.classList.remove("is-invalid")

                event.preventDefault()
                form.classList.add('was-validated')
                if (!form.checkValidity()) {
                    // event.preventDefault()
                    event.stopPropagation()
                    return
                }

                updateSpinner(true)
                try {
                    var status = await submitNewPost()
                    updateSpinner(false)
                    if (status.success) {
                        window.location.replace("/posts")
                    } else {
                        error(status.error.body)
                    }
                } catch (err) {
                    updateSpinner(false)
                    error("An unknown error occurred.")
                    console.log(err)
                }
            }, false)
        </script>
    </body>
</html>